/* ****************** Reset CSS ****************** */
/*:root representa el elemento <html> y es idéntico al selector html, excepto que su especificidad es mayor*/
:root {
    /*Declarar variables Globales*/
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width:1200px;
}


html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
}

*, *:before, *:after {
    box-sizing:inherit;
}

body {
    margin: 0;
    background: #1E1E1E;
}

/******************************************/

.header {
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
}

.header h1 {
    margin: 0 auto;
    text-align: center;
}

h2 {
    margin: 0;
    padding:  10px;
    text-align: center;
    color: white;
    background: rgba(100,100,100);
}

.divMargin {
    margin: 10px;
}

#url-fb {
    width: 70%;
}

#btnConectar{
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 25px;
    background: #58D68D;
    border-radius: 10px;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#btnConectar:hover{
    opacity: 1;
}

div {
    color: white;
    text-align: center;
}

input {
    display: inline-block;
}

label {
    display: inline-block;
    width: 110px;
    text-align: right;
    /*background: blue;*/
}

.slideContainer {
    padding: 10px;
}

#sRed {
    width: 50%;
    height: 10px;
    border-radius: 10px;
    /*background: red;*/
    outline: none;
}

#sGreen {
    width: 50%;
    height: 10px;
    border-radius: 10px;
    /*background: green;*/
    outline: none;
}

#sBlue {
    width: 50%;
    height: 10px;
    border-radius: 10px;
    /*background: blue;*/
    outline: none;
}

#sMotor {
    /*border: solid 1px #82CFD0;*/
    width: 50%;
    height: 10px;
    border-radius: 10px;
    outline: none;
}

#btnInvGiro {
    width: 25%;
}

#lblNombre {
    text-align: center;
    width: 250px;
}

#btnCopiar {
    width: 20%;
}